.bg-container{
    background-image:url("https://img.freepik.com/premium-photo/lionel-messi-illustration-argentine-professional-footballer-barcelona-jersey_978521-23139.jpg?w=360");
    background-size:cover;
    height: 100px;;
}